{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  
  <div class="nosotros">

  <h1 class="text-dark" style="font-size: 3rem;"> <strong>Nosotros</strong></h1>

  <p>
    Somos una empresa apasionada por los videojuegos, comprometida con ofrecer
    la mejor experiencia de entretenimiento digital a nuestros clientes. Nos
    especializamos en la venta de una amplia variedad de videojuegos para
    todas las plataformas, desde consolas de última generación hasta
    dispositivos móviles y PC.
  </p>

  <p>
    Nuestra misión es proporcionar a nuestros clientes acceso a los últimos
    lanzamientos y títulos más populares del mercado, así como también a
    clásicos atemporales que han marcado la historia de los videojuegos.
    Trabajamos estrechamente con desarrolladores y distribuidores líderes en
    la industria para garantizar una selección diversa y emocionante de juegos
    para todos los gustos y edades.
  </p>

  <p>
    Además de la venta de videojuegos, también ofrecemos una gama de servicios
    complementarios, como asesoramiento experto, recomendaciones
    personalizadas y soporte técnico, para asegurarnos de que nuestros
    clientes disfruten al máximo de su experiencia de juego. Valoramos la
    satisfacción del cliente por encima de todo y nos esforzamos por superar
    sus expectativas en cada interacción.
  </p>

  <p>
    En resumen, estamos dedicados a ser el destino preferido de todos los
    amantes de los videojuegos, brindando un servicio excepcional, una
    selección incomparable y una pasión inigualable por el mundo del gaming.
  </p>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img src="{% static 'core/Usuario administrador/img/gerente.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gerente General</h5>
          <p class="card-text">El gerente de una empresa de videojuegos dirige operaciones y estrategias para impulsar
            el éxito y el crecimiento, garantizando la excelencia comercial y la satisfacción del cliente.</p>
          <a href="https://gmail.com" class="btn btn-success">Enviar correo</a>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img src="{% static 'core/Usuario administrador/img/mark.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Administrador de página</h5>
          <p class="card-text">El administrador web de videojuegos supervisa y gestiona todas las actividades del
            sitio, garantizando una experiencia envolvente y funcional para los jugadores y entusiastas de los
            videojuegos.</p>
          <a href="https://gmail.com" class="btn btn-success">Enviar correo</a>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img src="{% static 'core/Usuario administrador/img/jeffbezos.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CEO de marketing</h5>
          <p class="card-text">El CEO de marketing lidera estratégicamente las actividades de marketing para impulsar
            el crecimiento, las ventas y la visibilidad de la marca Asegurando el crecimiento de Super Games.</p>
          <a href="https://gmail.com" class="btn btn-success">Enviar correo</a>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img src="{% static 'core/Usuario administrador/img/larrypage.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jefe de logística</h5>
          <p class="card-text">El jefe de logística supervisa la gestión del inventario, embalaje y envío de los
            productos, garantizando una cadena de suministro eficiente y oportuna en una página web de ventas de
            videojuegos.</p>
          <a href="https://gmail.com" class="btn btn-success">Enviar correo</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    
{% endblock content %}